<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h3 class="cv-title">People</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="well well-sm">
                    <form role="form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-md-6">
                                    <div class="input-group" >
                                        <input type="text" ng-model="searchText" ng-model-options="{debounce:500}" class="form-control" placeholder="Search" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div cg-busy="promise" class="col-xs-12 col-sm-12 col-md-12">            
                <ul class="list-group" data-ng-repeat="item in people | orderBy:'person.name' | filter:searchText">
                    <li class="list-group-item">
                        <i class="glyphicon glyphicon-user pull-left" style="font-size: 4em"></i>
                        <button ng-show="canAdd(item.person)" ng-click="addFriend(item.person)" class="btn btn-primary btn-sm pull-right"><i class="glyphicon glyphicon-plus"></i> Add Friend</button>
                        &nbsp;Name: {{item.person.name}}<br />
                        &nbsp;Gender: {{item.person.gender}}<br />
                         <span class="pull-right"><small>Common Friends: {{item.commonFriends}}</small></span>
                        &nbsp;Birthdate: {{item.person.birthDate | date}}<br />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
